* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

@font-face {
    font-family: 'neuropolitical';
    src: url("../fonts/Neuropolitical_Font_Family_\(Fontmirror\)/");
}

.ff-neuropolitical {
    font-family: 'neuropolitical';
}

.bg_img_header {
    background-image: url(../images/hero-section-img.png), ;
    background-repeat: no-repeat;
    /* background-color: black; */
}

.gap-20 {
    gap: 20px;
}